footer {
    background-color: var(--dark-background-color);
    color: var(--footer-text);
    font-size: var(--body-font-size-xs);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
}

footer .footer p {
    margin: 0;
}

footer p strong {
    font-size: 45px;
    float: left;
}

.social-links-container .default-content-wrapper {
    width: 75%;
    padding-top: 20px;
}

.social-links-container .default-content-wrapper > ul {
    display: inline-flex;
    gap: 24px;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 25px;
    margin-left: 5rem;
    font-size: 14px;
}

footer .default-content-wrapper > ul > li{
    cursor: pointer;
}

footer .default-content-wrapper > ul > li:hover {
    text-decoration: underline;
}

.social-links-container .default-content-wrapper:not(li) {
    font-size: 12px;
    line-height: 1.7em;
}

@media (width >= 900px) {
    footer .footer > div {
        padding: 20px 32px 24px;
    }
}
